#form{
    display: flex;
    flex-direction: row;
}

input[type="text"]{
    margin-right:150px;
    width: 300px;
}

span{
    color: red;
}

header{
    background-color: darkseagreen;
    height: 30px;
    padding: 10px 10px 40px 10px;
}

#register{
    text-decoration: underline;
}

footer{
    background-color: darkseagreen;
    height: 20px;
    padding: 10px 10px 40px 10px;
}

footer div{
    text-align: center;
}

input[type="submit"]{
    padding:12px
}

input[type="reset"]{
    padding:12px
}

#payment-details{
    display: flex;
    flex-direction: column;
    padding-left: 120px;
}

.input-class {
    margin-left:90px;
    margin-bottom: 30px;
}


