
li strong { color: red; }

ul > li { background-color: blue;
color: black;
}

ul>li{
    color: beige;
}


li > strong { color: green; }

li.line{
    color: aqua;
}

.line{
    color: red !important;
}


